@import "tailwindcss";

:root {
  --color-primary-50: 238 242 255;
  --color-primary-100: 224 231 255;
  --color-primary-200: 199 210 254;
  --color-primary-300: 165 180 252;
  --color-primary-400: 129 140 248;
  --color-primary-500: 99 102 241;
  --color-primary-600: 79 70 229;
  --color-primary-700: 67 56 202;
  --color-primary-800: 55 48 163;
  --color-primary-900: 49 46 129;
  --color-primary-950: 30 27 75;
}

body {
  background-color: white;
  color: rgb(17 24 39);
  transition: colors 300ms;
}

.dark body {
  background-color: rgb(3 7 18);
  color: rgb(243 244 246);
}

.glass {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
}

.dark .glass {
  background-color: rgba(17, 24, 39, 0.8);
}

.card {
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(229 231 235);
}

.dark .card {
  border-color: rgb(31 41 55);
}
